[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
[submodule "public"]
	path = public
	url = git@github.com:Philipshrimp/Philipshrimp.github.io.git
	branch = main
